h1 {
  text-align: center;
}

img {
  width: auto;
  height: 500px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.steps {
  margin-top: 50px;
  border-style: solid;
  margin-left: 500px;
  margin-right: 500px;
}

h2, p, ol, ul, h3 {
  margin-left: 10px;
  margin-right: 10px;
}